*{
    margin: 0;
    padding: 0;
}

body {
    color: #ededed;
    background: #000;
    overflow-x: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    max-width: 100%;
}

#header .container-fluid{
    background: #000;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar-nav a:hover {
    color: #0004ff;
}

#hero{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(../img/bg-hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    max-width: 100%;
}

.container-hero {
    max-width: 600px;
}

.container-hero h3 {
    font-size: 32px;
    font-weight: 700;
}

.container-hero h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    text-transform: uppercase;
}

.container-hero h2 {
    margin: 0 0 10px 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #ffffff04;
    -webkit-text-stroke: 1px white;
    position: absolute;
    left: 0;
    right: 300px;
    top: 80px;
    padding-left: 180px;
    visibility: hidden;
}

.container-hero p {
    font-size: 20px;
}

#hero .btn {
    display: inline-block;
    padding: 12px 28px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
  }
  
  #hero .btn:hover {
    background: #0004ff;
    border-color: #0004ff;
    box-shadow: 0 0 20px #0004ff;
  }

.redes a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.redes a:hover{
    background: #9900ff;
    color: #fff;
    box-shadow: 0 0 20px #9900ff;
    border-color: #9900ff;
}

#hero .redes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 2%;
    top: 30%;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

div[role="progressbar"] {
    --size: 7rem;
    --fg: #0004ff;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }

#about h2{
    padding: 60px;
}

#about p{
    padding-left: 60px;
    padding-right: 90px;
} 
.skills h4{
    text-align: center;
    margin: 30px;
}

#education{
    max-width: 100%;
}

#education h2{
    text-align: center;
}

#education .title{
    padding: 30px;
}

.progreso{
    display: flex;
    justify-content: center;
    align-items: center;

}

.accordion {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.accordion-button:not(.collapsed) {
    background-color: #0004ff44;
}

#projects{
    background: #fff;
    color: #292c36;
    text-align: center;
    padding-bottom: 80px;
    max-width: 100%;
}

#projects h2{
    padding: 60px;
}

#experience {
    width: 100%;
    position: relative;
    padding: 40px 0;
    text-align: center;
    max-width: 100%;
}

#experience .item-experiencia{
    background-color: #c6c6c6;
    border-radius: 4px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border: 10px solid #000000;
    border-radius: 20px;
    margin-top: 30px;
}

#experience .item-experiencia a .icon {
    width: 50px;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    top: -20px;
    left: 150px;
}

#experience h3 {
    color: #292c36;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

#experience p {
    font-size: 18px;
    line-height: 30px;
    color: #292c36;
    padding-bottom: 20px;
}

#experience i{
    color: #0004ff;
    font-size: 18px;
    line-height: 30px;
}

#experience img{
    display: none;
}

#experience a{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    background: transparent;
    border: 2px solid #fff;
}

#experience a:hover{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    background: #0004ff;
    box-shadow: 0 0 20px #0004ff;
    border-color: #0004ff;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px;
}
